"                <!-- songs-item-playing--active-onplay songs-item--active songs-item-playbtn--active -->
<li class="songs-item js__song-item1 songs-item--active songs-item-playbtn--active " data-index="0">
    <div class="songs-item-left">
        <div style="background-image: url(https://photo-resize-zmp3.zmdcdn.me/w94_r1x1_jpeg/cover/6/d/9/6/6d961b2a82f151a0f9af7de928e8f809.jpg);"
             class="songs-item-left-img js__songs-item-left-img-1">
            <div class="songs-item-left-img-playbtn"><i class="fas fa-play"></i></div>

            <div class="songs-item-left-img-playing-box"><img class="songs-item-left-img-playing"
                                                              src="/assets/img/songs/icon-playing.gif" alt="playing">
            </div>

        </div>
        <div class="songs-item-left-body"><h3 class="songs-item-left-body-name js__main-color">À Lôi</h3> <span
                class="songs-item-left-body-singer js__sub-color">Double2T, Masew</span>
        </div>
    </div>
    <div class="songs-item-center tablet-hiden mobile-hiden js__sub-color">
        <span>À Lôi (Remix)</span></div>
    <div class="songs-item-right mobile-hiden">                        <span class="songs-item-right-mv
                                                                             ipad-air-hiden"><i class="fas
                                                                                                 fa-photo-video
                                                                                                 js__main-color"></i></span>
        <span class="songs-item-right-lyric ipad-air-hiden"><i class="fas fa-microphone js__main-color"></i></span>
        <span class="songs-item-right-tym">                            <i class="fas fa-heart
                                                                      songs-item-right-tym-first"></i>                            <i
                class="far fa-heart songs-item-right-tym-last"></i>                        </span>
        <span class="songs-item-right-duration js__sub-color">3:17</span> <span
                class="songs-item-right-more js__main-color"><i class="fas
                                                          fa-ellipsis-h"></i></span></div>
</li>"