<div class="header-wrapper">
    <div class="header">
        <div class="header__undo mobile-hiden js__sub-color">
            <i class="fas fa-arrow-left hover js__toast"></i>
            <i class="fas fa-arrow-right hover js__toast header__undo--disble"></i>
        </div>
        <div class="header__width-search js__backgroundColor">
            {{> search }}

            {{> suggest }}
        </div>
        <div class="header__right">
            <div class="header__theme js__sub-color js__backgroundColor">
                <i class="fas fa-tshirt"></i>
            </div>
            <div class="header__upload mobile-hiden js__sub-color js__toast js__backgroundColor hover">
                <i class="fas fa-upload"></i>
            </div>

            <div class="header__right-overlay hiden"></div>
            <!-- header__setting--active -->
            <div class="header__setting mobile-hiden js__sub-color js__backgroundColor">
                <i class="fas fa-cog header__setting-icon"></i>
                <ul class="header__setting-list">
                    <li class="header__setting-item">
                        <i class="fas fa-ban"></i>
                        Danh sách chặn
                    </li>
                    <li class="header__setting-item">
                        <i class="far fa-play-circle"></i>
                        Chất lượng nhạc
                    </li>
                    <li class="header__setting-item">
                        <i class="fas fa-external-link-square-alt"></i>
                        Trình phát nhạc
                    </li>
                    <span class="header__setting-line"></span>
                    <li class="header__setting-item">
                        <i class="fas fa-info-circle"></i>
                        Giới thiệu
                    </li>
                    <li class="header__setting-item">
                        <i class="far fa-flag"></i>
                        Góp ý
                    </li>
                    <li class="header__setting-item">
                        <i class="fas fa-phone-alt"></i>
                        Liên hệ
                    </li>
                    <li class="header__setting-item">
                        <i class="fab fa-adversal"></i>
                        Quảng cáo
                    </li>
                    <li class="header__setting-item">
                        <i class="fas fa-notes-medical"></i>
                        Thoả thuận sử dụng
                    </li>
                    <li class="header__setting-item">
                        <i class="fas fa-shield-alt"></i>
                        Chính sách bảo mật
                    </li>
                </ul>


            </div>
            <div class="header__user hover">
                <a href="https://www.facebook.com/sona7ns">
                    <img src="/assets/img/header/user/0.jpg" alt="user" class="header__user-img">
                </a>
            </div>
        </div>
    </div>
</div>