<!-- header__width-search-sub--white -->
<!-- header__width-search-sub--green -->
<!-- header__width-search-sub--gray -->
<!-- header__width-search-sub--purple -->
<div class="header__width-search-sub">
    <span class="header__width-search-sub-header js__main-color">Đề xuất cho bạn</span>
    <ul class="header__width-search-sub-list ">
        <li class="header__width-search-sub-item">
            <a href="#" class="header__width-search-sub-item-link">
                <i class="fas fa-arrows-alt-h js__sub-color"></i>
                <span class="js__sub-color">là ai</span>
            </a>
        </li>
        <li class="header__width-search-sub-item">
            <a href="#" class="header__width-search-sub-item-link">
                <i class="fas fa-arrows-alt-h js__sub-color"></i>
                <span class="js__sub-color">adele</span>
            </a>
        </li>
        <li class="header__width-search-sub-item">
            <a href="#" class="header__width-search-sub-item-link">
                <i class="fas fa-arrows-alt-h js__sub-color"></i>
                <span class="js__sub-color">chung tình</span>
            </a>
        </li>
        <li class="header__width-search-sub-item">
            <a href="#" class="header__width-search-sub-item-link">
                <i class="fas fa-arrows-alt-h js__sub-color"></i>
                <span class="js__sub-color">zing choice</span>
            </a>
        </li>
        <li class="header__width-search-sub-item">
            <a href="#" class="header__width-search-sub-item-link">
                <i class="fas fa-arrows-alt-h js__sub-color"></i>
                <span class="js__sub-color">#zingchart</span>
            </a>
        </li>
    </ul>
</div>